@charset "UTF-8";
/* CSS Document */

body{
	margin: 0;
	padding: 0;
}

.home-image{
	position: absolute;
  	bottom: 25px;
  	right: 0;
  	z-index: 0;
}

.intro{
  	float: left;
  	width: 45%;
  	margin-top: 350px;
}

header{
  	background: white;
  	overflow: auto;
  	position: fixed;
  	top: 30px;
  	width: 100%;
  	max-width: 1170px;
  	margin: 0 auto;
  	z-index: 1;
}

#home{
  	background: #f8e514 url("http://i.imgur.com/G4zOcCO.jpg") no-repeat center;
  	background-height: 100%;
  	min-height: 780px;
}

h1, h2, h3, p, li, a{
	font-family: 'Open Sans', sans-serif;
}

nav li{
	float: left;
	display: inline;
	list-style-type: none;
	padding: 0;
}

nav a{
	color: grey;
	display: block;
	width: 50px;
	padding-right: 70px;
	text-decoration: none;
}

nav a:hover{
	color:black;
}

.logo{
	float: left;
}

nav{
	width: 40%;
	float: right;
}

#home, .show-reel, #featuredin{
	background-color: #f8e514;
	width: 100%;
}

#about{
	background-color: #fafafa;
}

.wrapper{
	max-width: 1170px;
	background-color: ;
	margin: 0 auto;
}

*, *:before, *:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.column-features, .column-screen{
	width: 33%;
	float: left;	
	padding-right: 30px;
}

.column-features img, .column-screen img{
	width: 100%;
}

#gallery, .quote-mark, .show-reel, .clear, .column-footer{
	clear: both;
}

.column-about, .column-footer{
	background-color: ;
	width: 25%;
	float: left;
}

.column-screen{
	width: 20%;
}

.column-screen img{
	width: 100%;
}

#gallery{
	background-color: #fafafa;
}

.blockquote{
	width: 970px;
	text-align: center;
}

#contact img{
	float: right;
}

input{
	width: 570px;
	border: 0px solid #000000;
	border-bottom-width: 1px;
	background-color: transparent;
}

h4{
	margin: 0;
}

.feature-details {
  padding:20px;
  overflow:auto;
  cursor:default;
}

.feature-details:hover{
	background: #fefce9; 
	width:100%;
	display:block;
}

.feature-details span {
  float:left;
  font-size:30px;
  line-height:30px;
  width:15%;
  margin-top:0;
}

.feature-content {
  width:85%;
  float:left;
}
